/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

/* Base Styles */
body {
    background-color: rgba(26, 11, 46, 1)
    color: white
}

/* Smooth Scrolling for the whole page */
html {
    scroll-behavior: smooth;
}

/* Podcast Circle Glow Animation */
@keyframes subtle-pulse {
    0% { box-shadow: 0 0 0 0 rgba(34, 211, 238, 0.4); }
    70% { box-shadow: 0 0 0 15px rgba(34, 211, 238, 0); }
    100% { box-shadow: 0 0 0 0 rgba(34, 211, 238, 0); }
}

.podcast-glow {
    animation: subtle-pulse 2s infinite;
}

/* ============ COMPONENT CLASSES (Tailwind Mix) ============ */
.btn-gradient {
    background-image: linear-gradient(to right,  #F7E93F, #FB09B4, #9100F8);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-gradient:hover {
    background-image: linear-gradient(to right,  #F7E93F, #FB09B4, #9100F8);
    transform: scale(1.05);
    box-shadow: 0 10px 15px -3px rgba(147, 51, 234, 0.3);
}

/* Nav Item Style */
.nav-item {
    color: #e2e8f0;
    font-size: 0.875rem;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-item:hover {
    color: #22d3ee; 
}

/* ============ MOBILE MENU LOGIC ============ */

#mobile-menu {
    max-height: 576px;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
#menu-toggle:checked ~ #mobile-menu {
    max-height: 576px;
    opacity: 1;
}
#menu-toggle:checked ~ div label svg {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    color: #22d3ee;
}
